APP:
  NAME: Reader
  DESCRIPTION: Reader is an application that facilitates active reading
  ENVIRONMENT: DEV # or PROD
  DEBUG: True
  ORIGINS:
    - "http://localhost:8080"
    - "http://frontend-dev:80"
    - "http://frontend-prod:80"
OPENAI:
  KEY: 
NEO4J:
  DEV_URI: bolt://neo4j:7687
  DEV_USERNAME: your_username
  DEV_PASSWORD: your_password
  HOST_HTTP_PORT: 7888
  HOST_BOLT_PORT: 7999